html,
body {
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-size: 62.5% !important;
}

div,
::placeholder {
  font-size: 1.6rem;
}

a {
  color: #1cacc8;
}

a:hover {
  color: #1cacc8;
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.f12 {
  font-size: 1.2rem;
}

.mr1 {
  margin-right: 1rem;
}
.ml1 {
  margin-left: 1rem;
}
.ml2 {
  margin-left: 2rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mt1 {
  margin-top: 1rem;
}
.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.pt2 {
  padding-top: 2rem;
}

.box {
  width: auto;
  text-align: center;
  padding: 2rem;
  border-radius: 0.8rem;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.underline {
  text-decoration: underline;
}

.bounceBlue {
  color: #1cacc8;
}

.bounceButton {
  cursor: pointer;
  display: inline-block;
  margin-top: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  border-radius: 0.5rem;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  transition-duration: 0.2s, 0.1s, 0.1s, 0.1s;
  transition-timing-function: ease, ease, ease, ease;
  transition-delay: initial, initial, initial, initial;
  transition: box-shadow, -ms-transform, transform, transform;
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-image: linear-gradient(
    to right,
    rgb(28, 172, 200) 0%,
    rgb(25, 153, 179) 50%,
    rgb(22, 136, 156) 100%
  );
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  transition: all 0.4s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.bounceButton:hover {
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.bounceButton:active {
  opacity: 1;
}
.cancelButton {
  cursor: pointer;
  display: inline-block;
  margin-top: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  border-radius: 0.5rem;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  transition-duration: 0.2s, 0.1s, 0.1s, 0.1s;
  transition-timing-function: ease, ease, ease, ease;
  transition-delay: initial, initial, initial, initial;
  transition: box-shadow, -ms-transform, transform, transform;
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: #5e5e5e;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  transition: all 0.4s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.canceButton:hover {
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.canceButton:active {
  opacity: 1;
}
.bounceButtonSm {
  cursor: pointer;
  display: inline-block;
  margin-top: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  border-radius: 0.5rem;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  transition-duration: 0.2s, 0.1s, 0.1s, 0.1s;
  transition-timing-function: ease, ease, ease, ease;
  transition-delay: initial, initial, initial, initial;
  transition: box-shadow, -ms-transform, transform, transform;
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-image: linear-gradient(
    to right,
    rgb(28, 172, 200) 0%,
    rgb(25, 153, 179) 50%,
    rgb(22, 136, 156) 100%
  );
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  transition: all 0.4s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.bounceButtonSm:hover {
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.bounceButtonSm:active {
  opacity: 1;
}
.cancelButtonSm {
  cursor: pointer;
  display: inline-block;
  margin-top: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  border-radius: 0.5rem;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  transition-duration: 0.2s, 0.1s, 0.1s, 0.1s;
  transition-timing-function: ease, ease, ease, ease;
  transition-delay: initial, initial, initial, initial;
  transition: box-shadow, -ms-transform, transform, transform;
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: #5e5e5e;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  transition: all 0.4s ease;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
}
.cancelButtonSm:hover {
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.cancelButtonSm:active {
  opacity: 1;
}
.iBtn {
  cursor: pointer;
  display: inline-block;
  margin-top: 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  border-radius: 0.5rem;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  transition-duration: 0.2s, 0.1s, 0.1s, 0.1s;
  transition-timing-function: ease, ease, ease, ease;
  transition-delay: initial, initial, initial, initial;
  transition: box-shadow, -ms-transform, transform, transform;
  background-color: antiquewhite;
  border: solid 1px #5e5e5e;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  color: #5e5e5e;
  white-space: nowrap;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mMax {
  max-width: 30rem;
}

.ant-slider-marker {
  font-size: 1rem;
}
.row {
  display: flex;
  align-items: center;
}
@media (min-width: 319px) {
  .content {
    background-color: white;
    padding: 3rem 1rem;
    min-height: calc(100vh - 16rem);
  }
}

@media (min-width: 374px) {
}

@media (min-width: 641px) {
  .content {
    padding: 3rem 4rem;
  }
}
