@media (min-width: 319px) {
  .userIcons {
    display: flex;
  }
  .nav {
    padding: 0.6rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    height: 6.4rem;
  }

  .logoText,
  .date {
    display: none;
  }

  .logo {
    display: flex;
  }

  .navLinks {
    display: flex;
    align-items: center;
  }

  .menuToggler {
    display: inline;
  }
  .menuToggler svg {
    height: 1.6rem !important;
  }

  .cartLink {
    height: 1.6rem;
  }

  .navItem {
    display: none;
  }

  .userDrop {
    display: none;
  }

  .sideMenu {
    height: 100%;
  }
  .sideMenu a {
    color: rgba(0, 0, 0, 0.85);
  }

  .sideMenuName {
    color: #484848;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .sideMenuName:hover {
    color: #484848 !important;
  }

  .sideMenuU {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .sideMenuFooter {
    padding: 3rem 0 1rem;
    border-top: lightgray solid 2px;
  }

  .sideMenuItem {
    margin-bottom: 1rem;
    cursor: pointer;
  }
}

@media (min-width: 374px) {
  .navUserBtnMobile,
  .sideMenuImg {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
  }
  .navUserBtnMobile:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .navUserBtnMobile img,
  .sideMenuImg img {
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 100%;
  }
}

@media (min-width: 641px) {
  .nav {
    padding: 0.6rem 2rem;
  }

  .logoText,
  .date {
    display: flex;
  }
  .logo {
    display: none;
  }

  .navUserBtnMobile {
    display: none;
  }

  .userDrop {
    display: inline-block;
  }
}

@media (min-width: 920px) {
  .navItem {
    display: block;
  }
  .menuToggler {
    display: none;
  }
}

.navHolder {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 0 7px 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
  background-color: white;
}

.nav img,
.nav svg {
  cursor: pointer;
}

.nav svg {
  margin-left: 2rem;
  width: 1.8rem !important;
  color: rgb(72, 72, 72);
}

.navItem {
  font-size: 1.3rem;
  margin-left: 1rem;
  padding: 1rem;
  color: #484848;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

.navItem:hover {
  cursor: pointer;
}

.userBtn {
  cursor: pointer;
  margin-left: 2rem;
  color: #fff;
  border: solid 2px white;
  border-radius: 3rem;
  padding: 0.3rem 0.8rem 0.3rem 0.6rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 7px 0 rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    to right,
    rgb(28, 172, 200) 0%,
    rgb(25, 153, 179) 50%,
    rgb(22, 136, 156) 100%
  );
}

.userBtn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.userBtn img {
  border-radius: 100%;
  border: solid 2px white;
  width: 3.8rem;
  height: 3.8rem;
}

.navName {
  margin: 0rem 0.2rem 0rem 0.8rem;
  font-size: 1.3rem;
}

.search {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.4rem 0 0.4rem 0.4rem;
  align-items: center;
  border-radius: 4rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3), 0 2px 7px 0 rgba(0, 0, 0, 0.2);
}

.search:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.search div {
  padding: 0.2rem 1rem;
}

.blank {
  color: rgb(156, 156, 156);
  font-size: 1.3rem;
}

.complete {
  color: #666666;
  font-size: 1.3rem;
}

.searchBtn {
  flex-basis: 0 0 2rem;
}

.location {
  border-right: 1px solid rgb(241, 235, 235);
  font-size: 1.3rem;
}

.date {
  border-left: 1px solid rgb(241, 235, 235);
  font-size: 1.3rem;
}

.searchBtn span {
  display: flex;
  height: 3.4rem;
  width: 3.5rem;
  background-image: linear-gradient(
    to right,
    rgb(28, 172, 200) 0%,
    rgb(25, 153, 179) 50%,
    rgb(22, 136, 156) 100%
  );
  border-radius: 50%;
  align-content: center;
  justify-content: center;
}
.searchBtn svg {
  color: #fff;
  margin-left: 0 !important;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
