.searchResults {
    display: flex;
    flex-wrap: wrap;
}

.searchMenu {
    display: flex;
    justify-content: space-between;
    padding: .4rem 0;   
    border-top: solid 1px lightgray; 
    border-bottom: solid 1px lightgray; 
    margin-bottom: 2rem;

}

.filterOptions {
    display: flex;
}

.option {
    background-color: white;
    padding: .8rem .8rem;
    font-size: 1.2rem;
    font-weight: bold ;
    border: solid .1rem white;
    margin-right: 1rem;
    cursor: pointer;
}

.option:hover {
    border: solid .1rem #727272;
}

.option span {
    margin-left: .3rem;
}

.filterMenu {
    width: 26rem;
    padding: 1rem 2rem;
    background-color: white;
    z-index: 3;
    border-radius: .8rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);

}